<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">

<plist version="1.0">

<dict>

        <key>items</key>

        <array>

               <dict>

                       <key>assets</key>

                       <array>

                               <dict>

                                      <key>kind</key>

                                      <string>software-package</string>

                                      <key>url</key>

                                      <string>https://stprdaksshared.file.core.windows.net/stakssharedfileshare/PROD/SimplyLifePROD.ipa?_=1637470004612&amp;sv=2020-02-10&amp;ss=bqtf&amp;srt=sco&amp;sp=rwdlacuptfx&amp;se=2021-11-21T12:28:42Z&amp;sig=9lbdIp2KzjrSlA7Shr%2FXViIY4HOhuUpKFkSAYIe1AmI%3D</string>

                               </dict>

                       </array>

                       <key>metadata</key>

                       <dict>

                               <key>bundle-identifier</key>

                               <string>com.adcb.celeswallet</string>

                               <key>bundle-version</key>

                               <string>1.0</string>

                               <key>kind</key>

                               <string>software</string>

                               <key>title</key>

                               <string>Simplylife</string>

                       </dict>

               </dict>

        </array>

</dict>

</plist>