<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">

<plist version="1.0">

<dict>

        <key>items</key>

        <array>

               <dict>

                       <key>assets</key>

                       <array>

                               <dict>

                                      <key>kind</key>

                                      <string>software-package</string>

                                      <key>url</key>

                                      <string>https://stprdaksshared.file.core.windows.net/stakssharedfileshare/PROD/SimplyLifePROD.ipa?sv=2020-08-04&amp;ss=bfqt&amp;srt=sco&amp;sp=rwdlacupitfx&amp;se=2022-03-31T13:31:25Z&amp;st=2021-11-21T05:31:25Z&amp;spr=https&amp;sig=T5%2BucAJDW7EWDWYxg0XeRPP6UqVRmSGSqR8fIjoYu9U%3D</string>

                               </dict>

                       </array>

                       <key>metadata</key>

                       <dict>

                               <key>bundle-identifier</key>

                               <string>com.adcb.celeswallet</string>

                               <key>bundle-version</key>

                               <string>1.0</string>

                               <key>kind</key>

                               <string>software</string>

                               <key>title</key>

                               <string>Simplylife</string>

                       </dict>

               </dict>

        </array>

</dict>

</plist>